{% extends "TPapp/base.html" %}
{% load static %}
{% block content %}
    <head>
        <title>Contacto</title>
        <link rel="stylesheet" type="text/css" href="{% static 'TPapp/css/contacto.css' %}">   
    </head>   
    <body>   
        {% block logueo %} {% endblock %}        
        {% block pagina %}<a href="{% url 'index' %}">Home</a>{% endblock %}
                <main class="formulario" >
                    <form action="" class="formulario_label" method="post">
                        <!-- <label for="nombre" class="formulario_label"> -->
                        {% csrf_token %}
                        {{ form }}
                        <!-- </label> -->
                        <br>
                        <button type="submit" class="btn primary full">Enviar mensaje</button>
                    </form>
                    {{ mensaje }}
                </main>

            {% endblock %}
        <!-- <script src="{% static 'TPapp/js/contacto.js' %}"></script> -->
    </body>
</html>
